.container {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  text-align: center;
}

.container > a {
  text-decoration: underline !important;
  color: black;
}