#container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 90vh;
    width: 100vw;
    flex-direction: column;
}

#container > div > h1 {
    font-size: 4rem;
}

#container > div > h2 {
    font-size: 2.5rem;
}

#schoolName {
    margin-right: 10px;
    color: purple;
}

#loadingMessage {
    position: absolute;
    bottom: 3rem;
    width: 100vw;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#spinner {
    font-size: 2.2rem;
    margin-left: 15px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 400px) {
    #container > div > h1 {
        font-size: 3.5rem;
    }
    
    #container > div > h2 {
        font-size: 2rem;
    }
}