
div, footer{
  margin: 0;
  padding: 0;
}
.about{
  width: 100%;
  height: 100vh;
  background-image: url("https://core4.bmctoday.net/storage/images/diversity_1597416421.jpg?v=85eb67a");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25vh;
  font-family: 'Montserrat', sans-serif;
}
.circle{
  display: block;
  width: 50vh;
  height: 50vh;
  margin: auto;
  border-radius: 50%;
  background-color: #8c7ae6;
  padding-top: 10vh;
  text-align: center;
}
.circle img{
  width: 10vh;
  height: 10vh;
}
.about .circle h3{
  font-size: 100%;
  color: white;
}
.imgarrow:hover{
  width: 11vh;
  height: 11vh;
}
.ok{
  height: 100vh;
  background-color:#8c7ae6;
  color: white;
  font-size:36px;
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.rooted{
  background-color:#8c7ae6;
}
.what, .who{
  width: 80%;
  margin: auto;
  height: 70%;
  margin-top: 15%;
  color: black;
  font-size: 50%;
  font-weight: lighter;
  padding: 5%;
  line-height: 10vh;
}
.who{
  line-height: 7vh;
}
@media(max-width: 1100px){
  .ok{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .what, .who{
    width: 90%;
    height: 90%;
    color: black;
    font-size: 50%;
    padding: 5%;
    font-weight: lighter;
    line-height: 5vh;
  }
  .who{
    line-height: 4vh;
  }
}
.what{
  background-color: white;
  color: #8c7ae6;
  transition: 1s;
  margin-left: 13%;
}
.what:hover{
  opacity: 0.7;
}
.who{
  border: 1px solid white;
  color: white;
  transition: 1s;
  margin-right: 13%;
}
.who:hover{
  background-color: #9c88ff;
  color: white;
}
.p{
  width: 90%;
  height: 90%;
  margin: auto;
  font-size: 50%;
  border: 0.5px solid grey;
}
.p img{
  width: 100%;
  height: 100%;
}
.p img{
  opacity: 0.7;
}
.rooted{
  height: 600vh;
  width: 100%;
}
.team{
  background-color: white;
}


.p h3, .p h6{
  color: white;
  text-shadow: 1px 1px 2px black;
  padding-top: 5vh;
  text-align: center;
}

.meetTheTeam{
  background-color: white;
  color: #9c88ff;
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

@media(max-width: 700px){
  .rooted{
    width: 100%;
  }
  .p{
    background-color: white;
    height: 50vh;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .what, .who{
    margin-left: 0;
    margin-right: 0;
    margin: auto;
  }
}


.people{
  padding: 16px;
  border: 1px solid #9c88ff;
  background: #9c88ff;
  color: white;
  height: 250px;
  margin-top: 16px;
  text-align: center;
  position: relative;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgb(236, 233, 233);
}
.people:hover{
  background-color: white;
  color: #9c88ff;
}
.people h3{
  padding-top: 16px;
}
.people h6{
  display: block;
  border-radius: 5px;
  background-color: #f1c40f;
  padding: 16px;
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
}
.team{
  padding: 20px;
}

@keyframes color-change {
  0% { color: #9c88ff; }
  50% { color:#bbb2e9; }
  100% { color: #9c88ff; }
}
body, div{
 scroll-behavior: smooth;
}