.burger-wrapper {
  cursor: pointer;
}
.meny {
  background: var(--navbar-background-color);
  width: 50rem;
  height: 100vh;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10, 2, 3, 1);
  transform: translateX(50rem);
  top: 0;
  z-index: 0;
  transition: 0.5s;
  overflow-y: scroll;
}
.menyAvPaa {
  display: none;
}

.menyAvPaa:checked ~ #meny {
  transform: translateX(0rem);
}

.burger {
  position: absolute;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  right: 2rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.burger > div {
  height: 2px;
  background-color: var(--navbar-font-color);
  transition: 0.5s;
  z-index: 999;
}

.menyAvPaa:checked ~ .burger > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
.menyAvPaa:checked ~ .burger > div:nth-child(2) {
  opacity: 0;
}
.menyAvPaa:checked ~ .burger > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}

#expand {
  display: none;
  opacity: 0;
}

#topRow {
  padding-top: 1rem;
  text-align: center;
}

#topRow a {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.4rem;
}

#container a {
  color: var(--navbar-font-color);
  text-decoration: none;
}

#container a:hover {
    text-decoration: underline;
}

.brand {
  font-size: 1.6rem;
  margin-left: 1rem;
}

#dayContent {
  text-align: center;
  margin-top: 2rem;
}

.day {
  margin-left: 1rem;
  margin-right: 1rem;
}

.day h2 {
  color: var(--navbar-font-color);
  font-size: 1.3rem;
  text-align: center;
  border-bottom: 2px solid var(--navbar-font-color);
  padding-bottom: 5px;
}

.day i {
    display: none;
}

.day > span > a {
  display: block;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.row {
    margin-bottom: 5%;
    margin-top: 5%;
}

@media (max-width: 1000px) {
    #dayContent {
        max-width: 100%;
    }
    
}

@media (max-width: 790px) {

  .menyAvPaa:checked ~ .burger > div:nth-child(1) {
    transform: translateY(11.2px) rotate(45deg);
  }

    #dayContent {
        max-width: 400px;
    }

    #topRow {
        max-width: 400px;
        margin: auto;
        text-align: left;
        padding-left: 1em;
        margin-top: 2em;
    }

    #topRow a {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    .day {
        padding-left: 2em;
        padding-right: 2em;
    }

    .day h2 {
        border-bottom: 0px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .day i {
        display: block;
    }

    .day > span {
        margin-bottom: 30px;
    }

    .row {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media (min-width: 790px) {
    .day{
        min-width: 10rem;
        max-width: 16rem;
    }
}
