.burger-wrapper {
cursor: pointer;
}
.meny {
  background: #333;
  width: 50rem;
  height: 100vh;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10,2,3,1);
  transform: translateX(50rem);
  top: 0;
  z-index: 0;
  transition: 0.5s;
}
.menyAvPaa {
  display: none;
}

.menyAvPaa:checked ~ #meny {
  transform: translateX(0rem);
}

.burger {
  position: absolute;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  right: 2rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.burger > div {
  height: 2px;
  background-color: #000;
  transition: 0.5s;
  z-index: 999;
}

.menyAvPaa:checked ~ .burger > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
.menyAvPaa:checked ~ .burger > div:nth-child(2) {
  opacity: 0;
}
.menyAvPaa:checked ~ .burger > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}

#expand {
  display: none;
  opacity: 0;
}

#topRow {
  padding-top: 1rem;
  text-align: center;
}

#topRow a {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.4rem;
}

#container a {
  color: black;
}

.brand {
  font-size: 1.6rem;
  margin-left: 1rem;
}

#dayContent {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.day {
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 10rem;
  max-width: 16rem;

}

.daybaby{
  display: flex;
  flex-direction: column;
}


.day h2 {
  color: black;
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 5px;
}
img{
  padding: 0;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.img{
  margin-left: 10%;
  margin-bottom: 2px;
  display: none;
}

.day > a {
  display: block;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.dot{
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1000px) { 
  #topRow, #dayContent {
    display: grid;
    flex-direction: row;
  }
  #topRow a{
    margin-bottom: 20px;
  }
  .day{
    text-align: center;
    margin-bottom: 20px;
  }
  .daybaby{
    display: flex;
    flex-direction: column;
  }

  img{
    display: none;
  }

  .img{
    display: block;
    float: right;
  }
  
}