.burger-wrapper {
  cursor: pointer;
}
.meny {
  background: var(--navbar-background-color);
  width: 50rem;
  height: 100vh;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10, 2, 3, 1);
  transform: translateX(50rem);
  top: 0;
  z-index: 0;
  transition: 0.5s;
}
.menyAvPaa {
  display: none;
}

.menyAvPaa:checked ~ #meny {
  transform: translateX(0rem);
}

.burger {
  position: absolute;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  right: 2rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.burger > div {
  height: 2px;
  background-color: black;
  transition: 0.5s;
  z-index: 999;
}

.menyAvPaa:checked ~ .burger > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
.menyAvPaa:checked ~ .burger > div:nth-child(2) {
  opacity: 0;
}
.menyAvPaa:checked ~ .burger > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}

#expand {
  display: none;
  opacity: 0;
}

#container a {
  color: black;
}

.brand {
  font-size: 1.6rem;
  position: absolute;
}
