@media only screen and (min-width: 768px) {
    iframe{
      height: 13em;
    }
}
.authorTag{
  width: 150px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: #d3d3d3 ;
  border-radius: 10px;
  padding: 3px;
}
.name{
  margin-bottom: 0px;
  padding:3px;
}
