.club {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clubDescription {
  margin: 10px;
  text-align: center;
}

.clubVideo {
  max-width: 50%;
}

@media (max-width: 500px) {
  .clubVideo {
    max-width: 75%;
  }
}
